:root {
    --background: #0b0c12;
    --cor-enfase: #89e215;
    --cor-texto-maior-contraste: #989ea6;
    --cor-texto-menor-contraste: #363b47;
    --cor-texto-menor-contraste-resultado: #c0c5cc;
    --cor-texto-resultado: #ced3d9;
    --cor-texto-botoes: #c0c5cc;
    --cor-botaoes: #363b47;
    --cor-texto-botao-hover: #023401;
    --background-resultado: #474d59;
    --gradient: linear-gradient(180deg, #baf123 0%, #89e215 100%);
  }

.stButton > button {
    background: var(--cor-botaoes);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--cor-texto-botoes);
}

.stButton > button:hover {
    border: none;
    color: var(--cor-texto-botao-hover);
    background: var(--gradient);
}